@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar{
    width: 0;
}
img{
    object-fit: cover;
}
:root{
   --color1:rgba(240, 78, 39,.7)
}

.shadow-css{
    box-shadow: 5px 6px 18px -5px rgba(0,0,0,0.75);
}
.background{
    background: url('./assets/images/bg.jpg') bottom left no-repeat fixed;
    -webkit-background-size: auto auto,cover;
    -o-background-size: auto auto,cover;
    -moz-background-size: auto auto,cover;
    background-size: auto auto,cover;
}
.shadow-css-2{
    box-shadow:1px 15px 1px rgba(52,40,104,.1)
}
.transitions{
    transition-duration: .3s;
}
.picture-box .figure::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -136%;
    height: 150%;
    width: 150%;
    background: #1b273d;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
    transform: translateX(-98%) translateY(-25%) rotate(45deg);
    -moz-transition-duration: .3s;
    -webkit-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: .3s;
    z-index: 0;
    opacity: 0;
}
.picture-box:hover .figure::after{
    left: 42%;
    opacity: .7;
}
.transition2{
    transition: .3s ease-in-out .3s;
}
.picture-box:hover .figcaption{
    opacity: 1;
    width: 100%;
    height: 100%;
}